.header {
	color: white;
	background: dimgray;
	position: relative;
top: -8px;
margin:auto -8px;
padding: 0;
	a{
		color:black;
	}

}
.ratb {
	width: 75px;
	height: 75px;
	overflow: hidden;
}


div.bobby {
	
	text-align: center;
}
div.homepage {
	position: absolute;
	top: 8px;
	right: 16px;
}
.gap {
 padding:65px; }
.info-list {
    list-style-type: none;
    padding: 0;
}
.info-item {
	
    position: relative;
    padding: 50px;
}
.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    z-index: 10;
    white-space: nowrap;
}

.info-item:hover .tooltip {
    display: block;
    top: 10%;
    left: 60%; 
}

h1 {text-align: center;}
p {text-align: center;}


footer.motor { 
	position: relative;
	text-align: right;
	bottom: 0;
	padding: 10px;
	a{
		color: black;
	 }
	}
footer.contactre {
	position: absolute;
	bottom: 0;
	padding: 10px;

	a{
		color: black;
	}
}
.footer { 

background:dimgray;
position: relative;
bottom: -8px;
margin:  -8px;
padding: 0px;
color:white;
 }
